{% extends 'base.html' %} 
{%load static from staticfiles %}

{% block logo %}
  <img title="Temco SAS" class="img-responsive" alt="Logo" src="{{logo.logo.url}}">
{% endblock %}


{% block content%}
        <!-- Main content area -->

        <div class="card-container">
            <div class="container">
   
                <div class="text-center padded-box pb-0">
                        <h2>SOLUCIONES EMPRESARIALES</h2>
                        <p class="lead">En TEMCO SAS tenemos las soluciones integrales, innovadoras y especializadas que está buscando para su empresa, brindándole un respaldo sólido y confiable en talento humano para su compañía.

                            Sabemos lo importante que son los Recursos Humanos en el mundo empresarial, por eso déjelos en manos de especialistas. </p>

                </div>
                


                <div class="padded-box row">
                    <div class="col-md-4">
                        <div class="card text-center">
                          <img class="card-img-top" src="{% static './main/images/pic1.jpg' %}" alt="Card image cap">
                          <div class="card-body">
                            <h2>EMPRESAS</h2>
                            <p class="card-text">La adecuada selección de personal y buen manejo de mismo hará que tu empresa crezca y genere mayores rendimientos y productividad.</p>
                            <a href="#" class="btn btn-primary">Contactanos</a>
                              <a href="#" class="btn btn-secondary">Leer más</a>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                          <img class="card-img-top" src="{% static './main/images/pic2.jpg' %}" alt="Card image cap">
                          <div class="card-body">
                                <h2>TRABAJADORES</h2>
                                <p class="card-text">En nuestro portal podrá ingresar y descargar certificaciones y otra información de su interés. Podras encontrar las mejore ofertas laborales del mercado</p>
                             <a href="#" class="btn btn-primary">Contactanos</a>
                              <a href="#" class="btn btn-secondary">Leer más</a>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                          <img class="card-img-top" src="{% static './main/images/pic3.jpg' %}" alt="Card image cap">
                          <div class="card-body">
                            <h2>CLIENTES</h2>
                            <p class="card-text">Acá podrá ingresar y estar al tanto de todas las novedades referente a sus empleados o necesidades de contratación o asesoria laboral.</p>
                             <a href="#" class="btn btn-primary">Contactanos</a>
                              <a href="#" class="btn btn-secondary">Leer mas</a>
                          </div>
                        </div>
                    </div>
                </div>
                
                
                

                <div class="padded-box row">
                    <div class="col-md-4">
                        <div class="card text-center">
                          <img class="card-img-top" src="{% static './main/images/pic4.jpg' %}" alt="Card image cap">
                          <div class="card-body">
                            <a href="#">¿POR QUÉ NOSOTROS?</a></p>   
                            <blockquote class="card-text">Más de 37 años de experiencia, Reconocimiento y cobertura nacional, procesos auditados y certificados.</blockquote>
                            <p class="card-text quote-text">- Joe Bloggs, <a href="#">A Company</a></p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                          <img class="card-img-top" src="{% static './main/images/pic5.jpg' %}" alt="Card image cap">
                          <div class="card-body">
                            <a href="#">NUESTROS SERVICIOS</a></p>  
                            <blockquote class="card-text">Aenean non libero vestibulum, finibus lacus quis, ullamcorper diam. Ut quis sollicitudin mi, dignissim ultrices elit. </blockquote>
                            <p class="card-text quote-text">- Jane Doe, <a href="#">Marketing Business</a></p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                          <img class="card-img-top" src="{% static './main/images/pic6.jpg' %}" alt="Card image cap">
                          <div class="card-body">
                            <a href="#">NUESTRA EXPERIENCIA</a></p>  
                            <blockquote class="card-text">Quisque faucibus neque sodales, suscipit nisi vitae, placerat nisi. Nam cursus molestie posuere. Mauris fringilla condimentum lacus. </blockquote>
                            <p class="card-text quote-text">- Annaleigh Rose, <a href="#">CEO</a></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
{% endblock %}